<!DOCTYPE html>
<html>
<head>
    <title>markdowner</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
</head>
<body>


<div id="downerContainer">
	<div id="listPanel">
		<ul id="mdModel"></ul>
		<button id="newMDButton"><span class="glyphicon glyphicon-plus"></span></button>
	</div>
	<div id="inputPanel">
		<input id="mdTitle" type='text' placeholder="Title">
		<textarea id="mdEditor"></textarea>
	</div>
	<div id="outputPanel">
	</div>
</div>


<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/index.js"></script>

</body>
</html>